<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="loginsystem" connectionString="Data Source=localhost;Initial Catalog=loginsystem;Persist Security Info=True;User ID=sa;Password=dev!2021" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>